.label {
  -fx-text-fill: rgb(0, 0, 0);
}

.button {
  -fx-background-color: #ffffff; 
  -fx-text-fill: #000000; 
  -fx-font-size: 20px;
  -fx-min-height: 70px;
  -fx-min-width: 70px;
  -fx-padding: 10;
  -fx-background-radius: 5;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.0, 0, 1); 
}

.button:hover {
  -fx-background-color: #e2dfdf; 
}

.button:pressed {
  -fx-background-color: #d0d0d0;
}
